<%= form_tag '/addresses', method: :post do %>

  <div class="row">
    <div class="col-sm-12">
      <div class="pb-4 pt-4">
        <h2 > Address Validator </h2>
      </div>
      <div class="form-group">
        <%= label_tag :street_address, nil, class: "control-label" %>
        <%= text_field_tag :street_address, nil, required: true, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group ">
        <%= label_tag :city, nil, class: "control-label" %>
        <%= text_field_tag :city, nil, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group ">
        <%= label_tag :state, nil, class: "control-label" %>
        <%= select_tag :state, options_for_select(Address.states), include_blank: true, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group ">
        <%= label_tag :zip_code, nil, class: "control-label" %>
        <%= number_field_tag :zip_code, nil, step: 1, required: true, class: "form-control"  %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class = "buttons">
        <%= submit_tag 'Validate Address', class: "btn btn-lg btn-primary btn-block" %>
      </div>
    </div>
  </div>
<% end %>
