<!DOCTYPE html>
<html>
  <head>
    <title>AddressValidator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <div class="panel panel-default">
  <div class="container">

    <% flash.each do |name, msg| -%>
      <div class="<%= "alert alert-dismissable fade-in alert-#{name}" %>" >
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</div>
  </body>
</html>

